.card-body11{
    background-color:cornflowerblue;
}

.card-title11{
    color: white;
}

.card-body12{
    background-color: black;
}

.card-title12{
    color: white;
}

.card-body13{
    background-color:cadetblue;
}

.card-title13{
    color: black;
}

.card-body14{
    background-color:brown;
}

.card-title14{
    color: black;
}

.card-body15{
    background-color:chartreuse
}

.card-title15{
    color: black;
}