<div class="container p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body11">
                    <a href="/estudiantes">
                        <h5 class="card-title11">
                            Mantenimiento estudiantes
                        </h5>
                    </a>
                    <div class="mt-4">
                        <a href="/estudiantes" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body12">
                    <a href="/carreras">
                        <h5 class="card-title12">
                            Mantenimiento <br>carreras
                        </h5>
                    </a>
                    <div class="mt-4">
                        <a href="/carreras" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body13">
                    <a href="/materias">
                        <h5 class="card-title13">
                            Mantenimiento <br>materias
                        </h5>
                    </a>
                   <div class="mt-4">
                         <a href="/materias" class="btn btn-success">Ir a mantenimiento</a>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body14">
                    <a href="/profesores">
                        <h5 class="card-title14">
                            Mantenimiento <br>profesores
                        </h5>
                    </a>
                    <div class="mt-4">
                        <a href="/profesores" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body15">
                    <a href="/grupos">
                        <h5 class="card-title15">
                            Mantenimiento<br> grupos
                        </h5>
                    </a>
                    <div class="mt-4">
                        <a href="/grupos" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>